*{
    margin: 0;
    padding: 0;
    font-family: 'VALORANT', sans-serif;
}

.background{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(112,8,114,1) 44%, rgba(121,9,121,1) 67%, rgba(233,0,255,1) 100%);
    height: 100vh;
}

.reyna-div{
    max-width: 350px;
    position: absolute;
    right: 84vh;
    top: 90px;
}

.reyna-eyes{
    max-width: 300px;
}

.title{
    font-size: 20px;
    align-items: center;
    justify-content:center ;
    display: flex;
    margin: 5px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    
}

.calculator{
    position: absolute;
    top: 30%;
    right: 38.7%;
   background: black;
   border-radius: 15px;
   color: white;
   width: 400px;
   height: 400px;
   padding: 15px;
   align-items: center;
   justify-content: center;
}

.buttom{
    width: 90px;
    height: 55px;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
}

#result{
    background-color: white;
    margin: 8px;
    height:28px ;
    color: black;
    font-size: 20px;
    padding: 5px;
    text-align: right;
    border-radius: 10px;
}

.buttom:hover{
    background-color: black
}